<div class="participant"
     [formGroup]="participant">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="nName">First Name</label>
        <input type="text"
               class="form-control"
               id="nName"
               aria-describedby="emailHelp"
               placeholder="First Name"
               formControlName="fName">
        <span class="text-block"
              *ngIf="!participant.controls.fName.pristine
              && participant.controls.fName.errors?.required">First name is required.</span>
        <span class="text-block"
              *ngIf="!participant.controls.fName.pristine
                                                          && participant.controls.fName.errors?.pattern">Only valid names are allowed.</span>
      </div>
      <div class="form-group">
        <label for="lName">Last Name</label>
        <input type="text"
               class="form-control"
               id="lName"
               aria-describedby="emailHelp"
               placeholder="Last Name"
               formControlName="lName">
        <span class="text-block"
              *ngIf="!participant.controls.lName.pristine
              && participant.controls.lName.errors?.required">Last name is required.</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
               class="form-control"
               id="email"
               aria-describedby="emailHelp"
               placeholder="Email"
               formControlName="email">
        <span class="text-block"
              *ngIf="!participant.controls.email.pristine
              && participant.controls.email.errors?.required">Email is required.</span>
        <span class="text-block"
              *ngIf="!participant.controls.email.pristine
                                    && participant.controls.email.errors?.email">Email is not valid.</span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="docType">Document Type</label>
        <input type="text"
               class="form-control"
               id="docType"
               aria-describedby="emailHelp"
               placeholder="Document Type"
               formControlName="docType">
      </div>
      <div class="form-group">
        <label for="docNumber">Document Nr</label>
        <input type="text"
               class="form-control"
               id="docNumber"
               aria-describedby="emailHelp"
               placeholder="Document Nr"
               formControlName="docNumber">
      </div>
    </div>
  </div>
</div>
