<div class="row">
    <div class="col">
        <h1>Angular Micro Workshop 003 <i class="fa fa-paw"></i></h1>
        <h3>Choose from below</h3>
        <div class="btn-group" role="group" aria-label="Pets">
            <button class="btn btn-primary" [routerLink]="['/dogs']">View some lovely dogs!</button>
            <button class="btn btn-primary" [routerLink]="['/dogs/hound']">Dogs from hound breed!</button>
            <button class="btn btn-primary" [routerLink]="['/dogs/boxer']">Dogs from boxer breed!</button>
        </div>
    </div>
</div>